:root {
    --orange: #ff6a6a;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: #222222;
    padding-top: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar__nav.open {
    position: fixed;
    right: 0;
    width: 232px;
    height: calc(100vh-75px);
    top: 75px;
    background-color: black;
}

.navbar__wrapper {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


/*atomar class*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text--pink {
    color: pink;
}


/*atomar end*/

.navbar__icon {
    width: 40px;
    height: 40px;
}

.navbar__icon.float-left {
    margin-right: 20px;
}

.navbar__icon.float-right {
    margin-left: 20px;
}

.section__wrapper {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: ;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.section.section--feature {
    background-color: #222222;
}

.section--intro {
    background: #F1E4E6;
    height: 746px;
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.intro__foto {
    max-height: 100%;
    width: auto;
    background-color: #F8F8F8;
}

.intro__brand {
    margin-left: 64px;
    position: relative;
}

.intro__title,
.intro__subtitle {
    margin;
    0;
}

.intro__brand::before {
    position: absolute;
    content: '';
    left: -16px;
    width: 12px;
    height: 100%;
    background-color: brown;
}

.foto__2 {
    background-color: #F7E4E2;
}


/*Button*/

.but {
    outline: none;
    border: 1px solid var(--orange);
    background: none;
    height: 47px;
    min-width: 100px;
    max-width: 211px;
    padding-left: 39px;
    padding-right: 39px;
    cursor: pointer;
    color: var(--orange);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.but:hover {
    color: #ffffff;
    background: #FF6A6A;
}


/*Offers*/

.for__wrapper {
    width: 1140px;
    margin-top: 64px;
}

.forwomen {
    float: left;
    width: 360px;
    height: 260px;
    background-image: url(img/forwomen.png);
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
    margin-right: 30px;
}

.formen {
    float: left;
    width: 360px;
    height: 260px;
    background-image: url(img/formen.png);
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
    margin-right: 30px;
}

.forkids {
    float: left;
    width: 360px;
    height: 260px;
    background-image: url(img/forkids.png);
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.foraccesor {
    width: 1140px;
    height: 180px;
    background-image: url(img/foraccsesuar.png);
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
    margin-top: 30px;
}

.offers__suptitle {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 100px;
}

.offers__title {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: pink;
}


/*Items*/

.items__title {
    font-family: Lato;
    font-size: 30px;
    line-height: 36px;
}

.items__subtitle {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.items__card {
    float: left;
    width: 360px;
    height: 581px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.card__img {
    width: 360px;
    height: 420px;
    background-image: var(--bg-img);
    background-size: cover;
}

.card__caption {
    padding: 20px 29px 20px 17px;
    background: #f8f8f8;
}

.card__name {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
}

.card__description {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    margin-top: 0px;
}

.card__price {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 0;
}


/*Futuree*/

.wrapper__future {
    height: 341px;
    width: 100%;
    border-color: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.future__title {
    font-family: Lato;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.future__content {
    font-family: Lato;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
}


/*For enter button*/

.d-flex {
    display: flex;
    height: 40px;
}

input {
    border-radius: 20px 0 0 20px;
    border: none;
    background: #E1E1E1;
    padding: 0 20px;
    outline: none;
}

.butt {
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 0 20px;
    background: #da7179;
    color: #fff;
    outline: none;
}


/*Subscribe*/

.subscribe__wrapper {
    width: 100%;
    height: 448px;
    margin-left: auto;
    margin-right: auto;
    background-color: ;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.7);
    background-image: url(img/bc__subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
}

.h3__subscribe {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #222224;
    text-align: center;
}


/*Footer*/

.footer__wrapper {
    width: 100%;
    height: 79px;
    background: #222224;
}

.foot__fig {
    margin-top: 24px;
    margin-left: 3px;
    margin-right: 4px;
}

.foot__copy {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 235px;
    margin-top: 30px;
}


/*Arrivals*/

.section__arrivals {
    width: 100%;
    height: 148px;
    background: #F8F3F4;
    margin-top: 75px;
}

.section__arrivals h1 {
    text-align: center;
}

.row {
    margin-left: 230px;
    padding-top: 59px;
}

.col-7.left {
    font-family: Lato;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.col-6.right {
    color: #636363;
}


/*Cards*/
.card__navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
    margin-bottom: 54px;
}

.pagination{
    display: flex;
    justify-content: center;
}